<div class="row">
  <div class="col-xl-12">
    <mat-card>
      <div class="row">
        <div class="col-xl-12 flex-between">
          <h1>Farmroute</h1>
          <div>
            <mat-slide-toggle class="mr-2" [formControl]="slide"></mat-slide-toggle>
            <button class="mr-2" mat-mini-fab (click)="edit()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab (click)="remove()" matTooltip="Unwiderruflich löschen.">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-2">
          Herkunftsdorf
        </div>
        <div class="col-sm-10">
          <app-village-render [value]="internalRoute.source"></app-village-render>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-2">
          Zieldorf
        </div>
        <div class="col-sm-10">
          <app-village-render [value]="internalRoute.target"></app-village-render>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-2">
          Interval
        </div>
        <div class="col-sm-10">
          {{internalRoute.timerInterval}} Minuten
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          Einheiten
        </div>
        <div class="col-xl-10">
          <app-units-render [value]="internalRoute.troops"></app-units-render>
        </div>
      </div>
    </mat-card>
  </div>
</div>
