.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.smaller {
  height: 70%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fullwidth {
  width: 100%;
}

.m-left {
  margin-left: 15px;
}
