<mat-card>
  <mat-card-title>Task Manager</mat-card-title>
  <table mat-table [dataSource]="tasks">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Task</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="nextExecution">
      <th mat-header-cell *matHeaderCellDef> Zeit</th>
      <td mat-cell *matCellDef="let element"> {{element.nextExecution}} </td>
    </ng-container>
    <ng-container matColumnDef="remainingDelay">
      <th mat-header-cell *matHeaderCellDef> Noch</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="(element.remainingDelay * 1000)>0">
          {{(element.remainingDelay * 1000) | hms}}
        </ng-container>
        <ng-container *ngIf="(element.remainingDelay * 1000)<=0">
          Wird ausgeführt.
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
