<div class="row">
  <div class="col-xl-6">
    <form [formGroup]="buildingForm" (ngSubmit)="addBuilding(buildingForm.value)">
      <div class="row">
        <div class="col-xl-5">
          <mat-form-field class="w-100">
            <mat-label>Gebäude</mat-label>
            <mat-select formControlName="building">
              <mat-select-trigger *ngIf="buildingForm.value.building">
                <div class="flex-between">
                  <span>{{buildingForm.value.building | titlecase}}</span>
                  <img *ngIf="imageBase" matSuffix
                       [src]="imageBase+'buildings/'+buildingForm.value.building+'.png'"
                       class="img-fluid"/>
                </div>
              </mat-select-trigger>
              <mat-option *ngFor="let building of buildings" [value]="building">
                <div class="flex-between">
                  <span>{{building | titlecase}}</span>
                  <img *ngIf="imageBase" matSuffix
                       [src]="imageBase+'buildings/'+building+'.png'" class="img-fluid"/>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-5">
          <ng-container *ngIf="currentBuildingInfo">
            <mat-form-field class="w-100">
              <mat-label>Stufe</mat-label>
              <mat-select formControlName="level">
                <mat-option
                  *ngFor="let level of range(currentBuildingInfo.maxLevel, currentBuildingInfo.minLevel)"
                  [value]="level">
                  {{level}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
        <div class="col-xl-2">
          <button mat-raised-button [disabled]="buildingForm.invalid || buildingForm.disabled"
                  color="primary">
            Hinzufügen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xl-6">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let task of reductions" cdkDrag>
        <div>
          <img *ngIf="imageBase" [src]="imageBase+'buildings/'+task.building+'.png'"
               class="img-fluid"/>
          {{task.building | titlecase}} bis Stufe {{task.level}}
        </div>
        <button mat-mini-fab (click)="remove(task.building, task.level)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-box">
        <span>{{reductions?.length}} Reduktionen.</span>
        <div>
          <button *ngIf="reductions?.length>0" mat-mini-fab color="warn" (click)="reductions = []">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="offset-xl-5 col-xl-1">
    <button mat-raised-button (click)="save()" color="primary">
      Speichern.
    </button>
  </div>
</div>
