<mat-card>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="mat-elevation-z6">
        <mat-card-title>Truppenvorlage</mat-card-title>
        <mat-card-content>
          <app-units-input [formControl]="troopForm" [hideCataTarget]="true"></app-units-input>
          <br>
          <button [disabled]="troopForm.disabled || troopForm.invalid" mat-raised-button
                  color="primary" (click)="saveTroops()">
            Speichern
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-6">
      <mat-card class="mat-elevation-z6">
        <mat-card-title>Dorf ignorieren</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-9">
              <app-village-input [formControl]="villageForm"></app-village-input>
            </div>
            <div class="col-xl-3">
              <button [disabled]="villageForm.disabled || villageForm.invalid" mat-raised-button
                      color="primary" (click)="ignoreVillage()">
                Dorf ignorieren
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-6">
      <mat-card class="mat-elevation-z6" [ngClass]="{'m-top': (isHandset$ | async) === true}">
        <mat-card-title>Inc ignorieren</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-9">
              <mat-form-field class="w-100">
                <mat-label>Inc ID</mat-label>
                <input type="number" matInput [formControl]="incForm">
                <mat-hint>Wenn man einen Inc anklickt in der URL zu finden.</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-xl-3">
              <button [disabled]="incForm.disabled || incForm.invalid" mat-raised-button
                      color="primary" (click)="ignoreInc()">
                Inc ignorieren
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <mat-card class="mat-elevation-z6">
        <mat-card-title>UT abziehen.</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-9">
              <app-village-input [formControl]="utForm"></app-village-input>
            </div>
            <div class="col-xl-3">
              <button [disabled]="utForm.disabled || utForm.invalid" mat-raised-button
                      color="primary" (click)="withdraw(utForm.value.id)">
                UT abziehen.
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card>
