<div class="row">
  <div class="col-xl-12">
    <mat-card>
      <div class="row">
        <div class="col-xl-12 flex-between">
          <h1>Farmtask</h1>
          <div>
            <mat-slide-toggle class="mr-2" [formControl]="slide"></mat-slide-toggle>
            <button class="mr-2" mat-mini-fab (click)="edit()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab (click)="remove()" matTooltip="Unwiderruflich löschen.">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-2">
          Interval
        </div>
        <div class="col-sm-10">
          {{internalTask.timerInterval}} Minuten
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-2">
          Max Entfernung
        </div>
        <div class="col-sm-10">
          {{internalTask.maxDistance.toFixed(1)}} Felder
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-sm-2">
          Dörfer
        </div>
        <div class="col-sm-10">
          {{internalTask.villages.length}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          Einheiten (Gruppe {{internalTask.farmGroup.toUpperCase()}})
        </div>
        <div class="col-xl-10">
          <app-units-render [value]="internalTask.units"
                            [excludeUnits]="nonFarmUnits"></app-units-render>
        </div>
      </div>
    </mat-card>
  </div>
</div>
