<mat-card *ngIf="importing || result" class="mat-elevation-z6">
  <mat-card-content>
    <div *ngIf="importing" class="row">
      <div class="col-xl-12">
        <mat-progress-bar style="height: 20px; border-radius: 3px;"
                          [value]="progress"></mat-progress-bar>
      </div>
    </div>
    <div *ngIf="result" class="row">
      <div class="col-xl-12">
        <h1>Import abgeschlossen.</h1>
        <p>{{result.success}} von {{result.tasks}} Tasks erfolgreich importiert.</p>
        <div *ngIf="result.error>0">
          <p>{{result.error}} Tasks konnten nicht importiert werden.</p>
          <mat-list>
            <mat-list-item *ngFor="let error of result.errors">
              <small>{{error.line}} </small> <span style="color: red"> {{error.error}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card-content>
  <div class="form-group row">
    <div class="col-xl-12">
      <mat-form-field class="full-width">
        <textarea rows="10" class="example-full-width" id="plan" matInput placeholder="Plan"
                  [formControl]="control"></textarea>
        <mat-hint>Befehle in der Übersicht auswählen und mit STRG+C kopieren.</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <mat-form-field>
        <mat-label>Katapult Ziel</mat-label>
        <mat-select [formControl]="catapultControl">
          <mat-select-trigger *ngIf="catapultControl.value !== '///DEFAULT///'">
            <div class="flex-between">
              <span>{{catapultControl.value | titlecase}}</span>
              <img *ngIf="imagebase" matSuffix
                   [src]="imagebase+'buildings/'+catapultControl.value+'.png'"
                   class="img-fluid"/>
            </div>
          </mat-select-trigger>
          <mat-option value="///DEFAULT///">Default</mat-option>
          <mat-option *ngFor="let building of buildings" [value]="building">
            <div class="flex-between">
              <span>{{building | titlecase}}</span>
              <img *ngIf="imagebase" matSuffix [src]="imagebase+'buildings/'+building+'.png'"
                   class="img-fluid"/>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <div>
        <mat-checkbox [formControl]="showMS">MS überschreiben.</mat-checkbox>
      </div>
      <div>
        <mat-form-field *ngIf="showMS.value === true">
          <mat-label>MS</mat-label>
          <input matInput type="number" min="0" max="999" [formControl]="msForm">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-11">
      <button (click)="submit(control.value, catapultControl.value)"
              [disabled]="control.invalid || control.disabled"
              type="submit" mat-raised-button color="primary">
        Importieren
      </button>
    </div>
  </div>
</mat-card-content>
