<div class="row">
  <div *ngIf="loading" class="col-xl-12 flex-between">
    <mat-card>
      <span></span>
      <mat-spinner></mat-spinner>
      <span></span>
    </mat-card>
  </div>
</div>
<div *ngIf="!loading" class="col-xl-12">
  <table mat-table [dataSource]="users" class="mat-elevation-z8 w-100">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['user', element.id]">
          {{element.id}}
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef> UUID</th>
      <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="validUntil">
      <th mat-header-cell *matHeaderCellDef> Gültig bis</th>
      <td mat-cell *matCellDef="let element"> {{getValidUntil(element.validUntil)}} </td>
    </ng-container>

    <ng-container matColumnDef="isTrial">
      <th mat-header-cell *matHeaderCellDef> Trial</th>
      <td mat-cell *matCellDef="let element"> {{element.isTrial}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="pageUpdate($event)" [length]="999" [pageSize]="users.length"
                 [pageSizeOptions]="[10, 50, 100, 250]"></mat-paginator>
</div>
