<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <app-menu class="mat-elevation-z6" [items]="running?menuFull:menu"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggle)="drawer.toggle()"></app-header>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
