<div class="overview-container">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <ng-container *ngIf="!isLoadingResults && villages && villages.length === 0">
    <div class="w-100 flex-between">
      <span></span>
      <div>
        Keine Dörfer werden ausgebaut.
        <button (click)="addVillage(data)" mat-icon-button>
          <mat-icon>
            library_add
          </mat-icon>
        </button>
      </div>
      <span></span>
    </div>
  </ng-container>
  <div class="table-container" *ngIf="isLoadingResults || (villages.length > 0)">
    <table mat-table [dataSource]="villages">
      <ng-container matColumnDef="village">
        <th mat-header-cell *matHeaderCellDef> Dorf</th>
        <td mat-cell *matCellDef="let element">
          <app-village-render [value]="element.village"></app-village-render>
        </td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Nächster Auftrag</th>
        <td mat-cell *matCellDef="let element">
          {{element.nextExecution}}
        </td>
      </ng-container>
      <ng-container matColumnDef="remaining">
        <th mat-header-cell *matHeaderCellDef> Verbleibend</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="(element.remaining * 1000)>0">
            {{element.remaining * 1000 | hms}}
          </ng-container>
          <ng-container *ngIf="(element.remaining * 1000)<=0">
            Wird ausgebaut.
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <button color="primary" matTooltip="Dorf hinzufügen" mat-icon-button
                  (click)="addVillage(this.data)">
            <mat-icon>
              library_add
            </mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button matTooltip="Ausbau stoppen" mat-icon-button (click)="delete(element.village)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row">
      </tr>
    </table>
  </div>
</div>
