<div class="row">
  <div class="col-xl-12">
    <mat-card class="mb-3">
      <div class="flex-between">
        <div></div>
        <button mat-mini-fab color="primary" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
<app-farm-route-display *ngFor="let route of routes" [route]="route"
                        (delete)="delete($event)"></app-farm-route-display>
<div *ngIf="routes && routes.length === 0" class="row">
  <div class="col-xl-12 flex-between">
    <span></span>
    <span class="text-center">
      Keine Routen vorhanden.<br>
      <button mat-raised-button (click)="add()">
        Hinzufügen.
      </button>
    </span>
    <span></span>
  </div>
</div>
