<mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Overview">
    <ng-template matTabContent>
      <app-command-overview></app-command-overview>
    </ng-template>
  </mat-tab>
  <mat-tab label="Schedule">
    <app-command-schedule></app-command-schedule>
  </mat-tab>
  <mat-tab label="Simple Timer">
    <ng-template matTabContent>
      <app-command-simple-timer></app-command-simple-timer>
    </ng-template>
  </mat-tab>
  <mat-tab label="Import Workbench">
    <ng-template matTabContent>
      <app-command-import-wb></app-command-import-wb>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="editTask" label="Bearbeiten">
    <app-command-edit [task]="editTask"></app-command-edit>
  </mat-tab>
</mat-tab-group>
