<div class="row">
  <div class="col-xl-12">
    <mat-card class="mb-3">
      <div class="flex-between">
        <div>
          <mat-slide-toggle [formControl]="slide"></mat-slide-toggle>
          <mat-form-field class="ml-3">
            <mat-label>Max Angriffe</mat-label>
            <input matInput [formControl]="max" type="number">
            <mat-hint>Maximale Anzahl an Angriffen pro Babarendorf.</mat-hint>
          </mat-form-field>
        </div>
        <button mat-mini-fab color="primary" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
<app-farm-task *ngFor="let task of tasks" [task]="task" (delete)="delete($event)"></app-farm-task>
<div *ngIf="tasks && tasks.length === 0" class="row">
  <div class="col-xl-12 flex-between">
    <span></span>
    <span class="text-center">
      Keine Tasks vorhanden.<br>
      <button mat-raised-button (click)="add()">
        Hinzufügen.
      </button>
    </span>
    <span></span>
  </div>
</div>
