/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

mat-card {
  margin-bottom: 15px;
}
