<div class="row">
  <div class="offset-xl-4 col-xl-4">
    <mat-card>
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="w-100">
            <mat-label>Bot-Host</mat-label>
            <input matInput [formControl]="control">
          </mat-form-field>
        </div>
        <div class="col-xm-3">
          <button mat-raised-button color="primary" (click)="save()">
            Speichern
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
