<mat-card>
  <div class="row">
    <div class="col-xl-6">
    </div>
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-12">
          <h1>Truppen Sammeln</h1>
          <form [formGroup]="form" (ngSubmit)="add(form.value)">
            <div class="form-group row">
              <div class="col">
                <app-village-input label="Herkunft" formControlName="village"></app-village-input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Ankunft</mat-label>
                  <input matInput placeholder="Pick Date" [matDatepicker]="picker"
                         formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Ankunftszeit</mat-label>
                  <input matInput formControlName="time"/>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <button [disabled]="!form.valid || form.disabled" type="submit" mat-raised-button
                        color="primary">
                  Hinzufügen
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="collectors?.length > 0" class="row">
        <div class="col-xl-12">
          <table mat-table [dataSource]="collectors" class="w-100">
            <ng-container matColumnDef="village">
              <th mat-header-cell *matHeaderCellDef>Dorf</th>
              <td mat-cell *matCellDef="let element">
                <app-village-render [value]="element.village"></app-village-render>
              </td>
            </ng-container>
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef>Zeit</th>
              <td mat-cell *matCellDef="let element">
                {{element.time.display}}
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button type="button" mat-mini-fab color="warn" (click)="clear(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</mat-card>
